<%- include('partials/header'); -%>

<main class="main-section">
		<div id="education">
		<div id="exp-wrapper">
			<div class="workexp">
            	<div class="we1">
                	<h4>University of Lagos <small>2018-2020</small></h4>
            	</div>
           		<div>
                	<div class="role">
                    	<h4 align="center">Master of Business Administration(Finance Specialization)</h4>
                 	</div>
            	</div>
        	</div>
        	<div class="workexp">
            	<div class="we1">
                	<h4>University of Lagos <small>2010-2016</small></h4>
            	</div>
            	<div>
        	    	<div class="role">
                    	<h4 align="center">Bachelor of Science, Estate Management</h4>
                	</div>
            	</div>
        	</div>
		</div>
	</div>
</main>