<%- include('partials/header'); -%>

<main class="main-section">
	<div id="experience">
				<div id="exp-wrapper">
					<div class="workexp">
                        <div class="we1">
                            <h5>Tokun and Associates <small>2014</small></h5>
                        </div>

                        <div>
                            <div class="role">
                                <h5 align="center">Estate Surveyor and Valuer (Intern)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="workexp">
                        <div class="we1">
                            <h5>DrinksInLagos <small>2016-2018</small></h5>
                        </div>
                        <div>
                            <div class="role">
                                <h5 align="center">Social Media Manager and Content Creator</h5>
                            </div>
                        </div>
                    </div>
                    <div class="workexp">
                        <div class="we1">
                            <h5>Urban Shelter Ltd <small>2016-2018</small></h5>
                        </div>
            	<div>
                <div class="role">
                    <h5 align="center">Estate Surveyor and Valuer (NYSC)</h5>
                </div>
            </div>
        </div>
        <div class="workexp">
            <div class="we1">
                <h5>Naija Startups <small>2018</small></h5>
            </div>
            <div>
                <div class="role">
                    <h5 align="center">Social Media Specialist and Research (Intern)</h5>
                </div>
            </div>
        </div>
	</div>
</main>