<%- include('partials/header'); -%>

<main class="main-section">
	<div id="skills-tools">
		<div id="skills">
			<h2>SKILLS</h2>
			<hr>
			<ul class="skill-list">
				<li>Web Design</li>
				<li>Design Implementation</li>
				<li>Consuming and working with APIs on the client-side</li>
				<li>Image editing and content design</li>
				<li>Writing Server-side Logic</li>
				<li>REST API Design</li>
				<li>Token-based Authentication with JWT</li>
			</ul>
		</div>
		<div class="skill-list">
			<h2>TOOLBOX</h2>
			<hr>
			<ul id="tools-list">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>React</li>
				<li>Node.Js</li>
				<li>Express</li>
				<li>MongoDB</li>
				<li>Postman</li>
				<li>Canva</li>
				<li>Figma</li>
			</ul>
		</div>
	</div>
</main>